body {
    height: 50vh;
}
.conteiner {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.lenta {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: green;
    margin-top: calc((100vh - 500px) / 2);
    margin-left: calc((100% - 500px) / 2);
}