body {
    height: 100vh;
    background-image: linear-gradient(to right top, #f4ff00, #f9f200, #fce500, #fed900, #ffcc00, #ffbd00, #ffad00, #ff9e00, #ff8600, #ff6b00, #ff4900, #ff0000);
    background-size: cover;
    background-repeat: no-repeat;
}
.lenta {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: blue;
    margin-top: calc((100vh - 500px) / 2);
    margin-left: calc((100% - 500px) / 2);
    border: 3px solid brown;
    border-radius: 2px;
}
.eile {
    display: inline-block;
    width: 100%;
    height: 25%;
}
.saske {
    display: inline-block;
    width: 25%;
    height: 100%;
    float: left;
}
.balta {
    background-color: white;
}
.juoda {
    background-color: black;
}
.figura {
    display: inline-block;
    width: 50%;
    height: 50%;
    border: 3px solid red;
    border-radius: 50px;
    margin-top: calc((100% - 61.75px) / 2);
    margin-left: calc((100% - 61.75px) / 2);
}